- [x] 2019/6/11 Day 1

# 1.1 List comprehensions vs generator expression

### 1.1.1 Two ways of building Unicode list from a string

In [1]:
# approach 1
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
    
codes

[36, 162, 163, 165, 8364, 164]

In [2]:
# approach 2
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

### 1.1.2 Listcomps vs map and filter

In [3]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [4]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [5]:
# map
# list = map(func, iter)

In [6]:
# example 1
l = [1, 2, 3]

def inc(x):
    return x + 1

print(list(map(inc, l)))

[2, 3, 4]

In [7]:
# example 2
print(list(map((lambda x: x + 1), l)))

[2, 3, 4]

In [8]:
# lambda
# lambda argument_list: expression

In [9]:
# example 3
sum = lambda x, y: x + y
sum(3, 4)

7

In [10]:
# filter
# filter(function, list)

In [11]:
# example 4
list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [12]:
# reduce
# reduce(function, string or list or tuple)

In [13]:
# example 5
from functools import reduce
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4])

10

### 1.1.3 Cartisian products

In [14]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

In [15]:
# approach 1
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [16]:
# approach 2
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [17]:
# approach 3
tshirts = [(color, size) for color in colors
                         for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

### 1.1.4 Generator expressions

In [18]:
# example 1
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [19]:
# example 2
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [20]:
# example 3
for tshirt in ('{} {}'.format(c, s) for c in colors for s in sizes):
    print

- [x] 2019/6/12 Day 2

# 1.2 Tuples

### 1.2.1 Tuples as records

In [21]:
# tuples can serve as immutable lists and records
# the position of the item gives its meaning
# for example, the first line suggests the latitude and longitude of 
# the LA International Airport
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),
                ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [22]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

<font color=red>
    # _ assignment<br>
    # if we are not interested in some item, in the for loop we can assign it to _
</font>

In [23]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### 1.2.2 Tuple unpacking

In [24]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [25]:
a = 3
b = 4
b, a = a, b
print('{}, {}'.format(a, b))

4, 3

In [26]:
divmod(20, 8)
t = (20, 8)
divmod(*t)

(2, 4)

In [27]:
quotient, remainder = divmod(*t)
print('{}, {}'.format(quotient, remainder))

2, 4

In [28]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
print(filename)

idrsa.pub

<font color=red>
    # instead of using _, another way is to use *<br>
    # we can use * to grab excess items
</font>

In [29]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

In [30]:
a, b, *rest = range(3)
print(a, b, rest)

0 1 [2]

In [31]:
a, b, *rest = range(2)
print(a, b, rest)

0 1 []

In [32]:
a, *body, c, d = range(5)
print(a, body, c, d)

0 [1, 2] 3 4

In [33]:
*head, b, c, d = range(5)
print(head, b, c, d)

[0, 1] 2 3 4

### 1.2.3 Nested tuple unpacking

In [34]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: 
    if longitude <= 0: 
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358


### 1.2.4 Named tuples

In [35]:
# Two parameters are required to create a named tuple: a class name and a list of
# field names

In [36]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [37]:
tokyo.population

36.933

In [38]:
tokyo.coordinates

(35.689722, 139.691667)

In [39]:
tokyo[1]

'JP'

In [40]:
City._fields

('name', 'country', 'population', 'coordinates')

In [41]:
LatLong = namedtuple('LatLong', 'lat long')

In [42]:
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [43]:
delhi = City._make(delhi_data)

In [44]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [45]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

### 1.2.5 Tuples as immutable lists

In [46]:
# all list methods that do not involve adding and removing items 
# are supported by tuple except _reversed_

- [x] 2019/6/13 Day 3

# 1.3 Slicing

### 1.3.1 Exclude the last item in slices and range

In [47]:
# This mechanism works well with zero-based indexing system

In [48]:
l = [10, 20, 30, 40, 50, 60]

In [49]:
l[:2]

[10, 20]

In [50]:
l[2:]

[30, 40, 50, 60]

In [51]:
l[:3]

[10, 20, 30]

In [52]:
l[3:]

[40, 50, 60]

### 1.3.2 Slice objects

In [53]:
# seq[start:stop:step] can be used to specify a stride or step c, 
# causing the resulting slice to skip items

In [54]:
s = 'bicycle'

In [55]:
s[::3]

'bye'

In [56]:
s[::-1]

'elcycib'

In [57]:
s[::-2]

'eccb'

In [58]:
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                  $17.50     3    $52.50
1489  6mm Tactile Switch x20             $4.95      2    $9.90
1510  Panavise Jr. - PV-201              $28.00     1    $28.00
1601  PiTFT Mini Kit 320x240             $34.95     1    $34.95
"""

In [59]:
SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:]

In [60]:
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

 $17.50      Pimoroni PiBrella
 $4.95       6mm Tactile Switch x20
 $28.00      Panavise Jr. - PV-201
 $34.95      PiTFT Mini Kit 320x240

### 1.3.3 Multi-dimensional slicing and ellipsis

In [61]:
# a[m:n, k:l]

<font color=red>
    # ellipsis-written with three full stops ...<br>
    # Numpy uses ... as a shortcut when slicing arrays of many dimensions<br>
    # e.g. if x is 4-dimensional array<br>
    # x[i,...] is a shortcut for x[i, :, :, :]
</font>

### 1.3.4 Assigning to slices

In [62]:
# Slices can be used to change mutable sequences in place

In [63]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [65]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [66]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [67]:
# When the target of assignment is a slice
# The right-hand side must be an iterable object
# Even if it has just one item

In [68]:
l[2:5] = 100

TypeError: can only assign an iterable

In [69]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

# 1.4 Using + and * with sequences

In [70]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [71]:
5 * 'abcd'

'abcdabcdabcdabcdabcd'

In [72]:
my_list = [[]] * 3
my_list_list

NameError: name 'my_list_list' is not defined

### 1.4.1 Building lists of lists

In [73]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [74]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [75]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [76]:
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [77]:
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [79]:
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)
board[2][0] = 'X'
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

- [x] 2019/6/14 Day 4

# 1.5 Augmented assignment with sequences

<font color=red>
    # mutable sequences vs immutable sequences<br>
    # (str is an exception, its concatenation doesn't require copying the while sequence every time)<br>
</font>

In [5]:
l = [1, 2, 3]
id(l)

1937115798600

In [6]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [7]:
id(l)

1937115798600

In [8]:
t = (1, 2, 3)
id(t)

1937115785400

In [9]:
t *= 2
t

(1, 2, 3, 1, 2, 3)

In [10]:
id(t)

1937113641512

### 1.5.1 A += assignment puzzler

In [11]:
t = (1, 2, [30, 40])
t

(1, 2, [30, 40])

In [12]:
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [13]:
t

(1, 2, [30, 40, 50, 60])

In [14]:
# note
t = (1, 2, [30, 40])
t[2].extend([50, 60])
t

(1, 2, [30, 40, 50, 60])

In [16]:
import dis
dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

# 1.6 list.sort and the sorted built-in function

<font color=blue>
    # list.sort sorts a list in-place without making a copy<br>
    # sorted creates a new list and returns it<br>
    # both of them take two optional, keyword-only arguments:<br>
    # key and reverse
</font>

In [18]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
fruits

['grape', 'raspberry', 'apple', 'banana']

In [19]:
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [20]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [21]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [22]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [23]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [24]:
fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']

- [ ] 2019/6/15 Day 5

- [ ] 2019/6/16 Day 6

- [ ] 2019/6/17 Day 7

- [ ] 2019/6/18 Day 8

- [ ] 2019/6/19 Day 9

- [ ] 2019/6/20 Day 10