- [x] 2019/6/11 Day 1

# 1.1 List comprehensions vs generator expression

### 1.1.1 Two ways of building Unicode list from a string

In [1]:
# approach 1
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
    
codes

[36, 162, 163, 165, 8364, 164]

In [2]:
# approach 2
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

### 1.1.2 Listcomps vs map and filter

In [3]:
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [4]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [5]:
# map
# list = map(func, iter)

In [6]:
# example 1
l = [1, 2, 3]

def inc(x):
    return x + 1

print(list(map(inc, l)))

[2, 3, 4]

In [7]:
# example 2
print(list(map((lambda x: x + 1), l)))

[2, 3, 4]

In [8]:
# lambda
# lambda argument_list: expression

In [9]:
# example 3
sum = lambda x, y: x + y
sum(3, 4)

7

In [10]:
# filter
# filter(function, list)

In [11]:
# example 4
list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [12]:
# reduce
# reduce(function, string or list or tuple)

In [13]:
# example 5
from functools import reduce
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4])

10

### 1.1.3 Cartisian products

In [14]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

In [15]:
# approach 1
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [16]:
# approach 2
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [17]:
# approach 3
tshirts = [(color, size) for color in colors
                         for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

### 1.1.4 Generator expressions

In [18]:
# example 1
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [19]:
# example 2
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [20]:
# example 3
for tshirt in ('{} {}'.format(c, s) for c in colors for s in sizes):
    print

- [x] 2019/6/12 Day 2

# 1.2 Tuples

### 1.2.1 Tuples as records

In [21]:
# tuples can serve as immutable lists and records
# the position of the item gives its meaning
# for example, the first line suggests the latitude and longitude of 
# the LA International Airport
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),
                ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [22]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

<font color=red>
    # _ assignment<br>
    # if we are not interested in some item, in the for loop we can assign it to _
</font>

In [24]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### 1.2.2 Tuple unpacking

In [25]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [26]:
a = 3
b = 4
b, a = a, b
print('{}, {}'.format(a, b))

4, 3

In [27]:
divmod(20, 8)
t = (20, 8)
divmod(*t)

(2, 4)

In [28]:
quotient, remainder = divmod(*t)
print('{}, {}'.format(quotient, remainder))

2, 4

In [29]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
print(filename)

idrsa.pub

<font color=red>
    # instead of using _, another way is to use *<br>
    # we can use * to grab excess items
</font>

In [30]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

In [31]:
a, b, *rest = range(3)
print(a, b, rest)

0 1 [2]

In [32]:
a, b, *rest = range(2)
print(a, b, rest)

0 1 []

In [33]:
a, *body, c, d = range(5)
print(a, body, c, d)

0 [1, 2] 3 4

In [34]:
*head, b, c, d = range(5)
print(head, b, c, d)

[0, 1] 2 3 4

### 1.2.3 Nested tuple unpacking

In [35]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: 
    if longitude <= 0: 
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 1.2.4 Named tuples

In [36]:
# Two parameters are required to create a named tuple: a class name and a list of
# field names

In [37]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [38]:
tokyo.population

36.933

In [39]:
tokyo.coordinates

(35.689722, 139.691667)

In [40]:
tokyo[1]

'JP'

In [41]:
City._fields

('name', 'country', 'population', 'coordinates')

In [42]:
LatLong = namedtuple('LatLong', 'lat long')

In [43]:
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [44]:
delhi = City._make(delhi_data)

In [45]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [46]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

### 1.2.5 Tuples as immutable lists

In [47]:
# all list methods that do not involve adding and removing items 
# are supported by tuple except _reversed_

- [ ] 2019/6/13 Day 3

- [ ] 2019/6/14 Day 4

- [ ] 2019/6/15 Day 5

- [ ] 2019/6/16 Day 6

- [ ] 2019/6/17 Day 7

- [ ] 2019/6/18 Day 8

- [ ] 2019/6/19 Day 9

- [ ] 2019/6/20 Day 10